body {
  width: 288px;
  height: 104px;
  margin: 0;
  /* background-color: aquamarine; */
  background-color: #f9f9f9;
}
object {
  background-color: grey;
}
.firstButton {
  margin-top: 40px;
}
.vidButton {
  background-color: #6888be;
  margin: 0 auto;
  display: block;
  width: 212px;
  height: 35px;
  border-color: transparent;
  border-radius: 5px;
  color: white;
  font-family: "Inter";
  font-weight: 400;
  transition: box-shadow 0.3s;
}
.vidButton:hover {
  background-color: #93adda;
  opacity: 0.9;
  cursor: pointer;
  /* box-shadow: 0 11px 11px rgba(33, 33, 33, 0.2); */
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 25px;
  /* background-color: lightblue; */
}
.bottomLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  /* background-color: rgb(230, 217, 173); */
}

.issueIcon {
  margin-top: 11px;
  /* float: left; */
  filter: invert(57%) sepia(0%) saturate(474%) hue-rotate(139deg)
    brightness(98%) contrast(91%);
}
.issueIcon:hover {
  cursor: pointer;
}

.reportText {
  float: right;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
}
.reportText:hover {
  cursor: pointer;
}

.bottomRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  /* background-color: rgb(161, 207, 176); */
}

.gitIcon {
  margin-top: 11px;
  margin-right: 10px;
  filter: invert(20%) sepia(13%) saturate(2612%) hue-rotate(179deg)
    brightness(99%) contrast(93%);
  /* cursor: pointer; */
}
